
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    NoteRizz
  </title>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
      NoteRizz
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/demo/demo.css" rel="stylesheet" />
  </head>
<style>
 
 
 

 .grid-1 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
  grid-template-rows: 2rem 68px 202px 50px 56px;
  gap: 5px;
}
 
 
 .name
 {
 
  font-family:  "Poppins", sans-serif;
  font-size: 28px;
  display: flex;
  align-items: center;
justify-content:center;
 grid-column: span 4;
 grid-row: span 1;
 transition: background-color 1s ease-in-out;
 }
 .uid
 {
  font-family:  "Poppins", sans-serif;
  border:  solid 2px black;
  display: flex;
  align-items: center;
justify-content:center;
font-size: 18px;
  grid-column: span 1;
grid-row: span 1;
border: solid 2px #1f2c3c;
color:white;
border-radius: 5px;
height: 48px;
transition: background-color 1s ease-in-out;
}
.email
{
  font-family:  "Poppins", sans-serif;
  border:  solid 2px black;
   display: flex;
  align-items: center;
justify-content:center;
height: 48px;
 grid-column: span 1;
 grid-row: span 1;
 border: solid 2px #1f2c3c;
color:white;
border-radius: 5px;
transition: background-color 1s ease-in-out;
}
#head
{
 
}
.branch
{  border:  solid 2px black;
  font-family:  "Poppins", sans-serif;
  display: flex;
  align-items: center;
justify-content:center;
  grid-column: span 1.5;
grid-row: span 1;
border: solid 2px #1f2c3c;
color:white;
border-radius: 5px;
transition: background-color 1s ease-in-out;
height: 48px;
}
.branch:hover
{
  background-color: #ffffff;
  color: #272343;

}
.email:hover
{
  background-color: #ffffff;
  color: #272343;
}
.uid:hover
{
  background-color: #ffffff;
  color: #272343;
}
.sem:hover
{
  background-color: #ffffff;
  color: #272343;

}
.cgpa:hover
{
  background-color: #ffffff;
  color: #272343;
}
.phone:hover
{
  background-color: #ffffff;
  color: #272343;
}
.upload
{
  font-family:  "Poppins", sans-serif;
  grid-row: span 6;
  border: solid 2px #152f65;
  background-color: #1a3a7e;
 border-radius: 5px;
 margin-left: 60px;
 transition: background-color 1s ease-in-out;

}
.list-group
{
width: 1100px;
margin: -20px;

}
.pic
{
  font-family:  "Poppins", sans-serif;
  grid-column:span 3;
  grid-row: span 2;
display:grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 5rem auto;
color: #ffffff;
}

.aboutme
{
 
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  "Poppins", sans-serif;
  font-weight: 800px;
  font-size:40px ;
 
}
.description
{
 
  display: flex;
  justify-content: center;
  font-family:  "Poppins", sans-serif;
  font-size:15px ;
  grid-column: span 1;
  grid-column-start:2 ;
  grid-row: span 1;
}
.p{
  font-family:  "Poppins", sans-serif;
}

#pic
{
  height:300px;
  width:300px;
 
  border-radius: 50%;
}
.sem
{
  font-family:  "Poppins", sans-serif;
 
  display: flex;
  align-items: center;
justify-content:center;
  margin-bottom: 20px;
  height: 48px;
  grid-column: span 1;
  grid-row: span 1;
  border:  solid 2px purple;
  border: solid 2px #1f2c3c;
color:white;
border-radius: 5px;
transition: background-color 1s ease-in-out;
 
}
.cgpa
{
  font-family:  "Poppins", sans-serif;
 
  display: flex;
  align-items: center;
justify-content:center;
border-radius: 5px;

 
  margin-bottom: 20px;
  height: 48px;
  grid-column: span 1;
  grid-row: span 1;
  border:  solid 2px purple;
  border: solid 2px #1f2c3c;
color:white;
transition: background-color 1s ease-in-out;
}
.icon img{
  height: 243px;
    width: 254px;
}

.phone
{
  font-family:  "Poppins", sans-serif;
  border-radius: 5px;
  display: flex;
  align-items: center;
justify-content:center;
border: solid 2px #1f2c3c;
 color:white;
  margin-bottom: 20px;
  height: 48px;
  grid-column: span 1;
  grid-row: span 1;
  transition: background-color 1s ease-in-out;

}
.download
{
  
  grid-column:span 3;
 
  grid-row: span 1;
  color: white;
 
}
.topic
{
  grid-row: span 1;
  font-family:  "Poppins", sans-serif;
  grid-column-start: 2;
  grid-column: span 3;
  display: flex;
  align-items: center;
justify-content:center;
border: solid 2px #16316c;
  background-color: #1a3a7e;
color: white;
border-radius: 5px;
padding: 12px;
}

.note-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.note-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.note-title {
  margin-left: 10px;
}

.note-description {
  margin-bottom: 10px;
}

.note-link a {
  color: #007bff;
  text-decoration: none;
}

.note-link a:hover {


  text-decoration: underline;
}

.list-group-item {
    transition: all 0.3s ease-in-out;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
  }

  .list-group-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }

  .form-check-label {
    font-weight: bold;
  }

  .link-container {
    display: flex;
    justify-content: center;
  }
  .btn-primary {
    background-color: #003366; /* Dark blue background color */
    border-color: #003366; /* Dark blue border color */
  }

  .btn-primary:hover {
    background-color: #002147; /* Darker blue on hover */
    border-color: #002147; /* Darker blue border on hover */
  }


</style>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            NoteRizz
          </a>
        </div>
        <ul class="nav">
          <li >
            <a href="/studentPerf">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li >
            <a href="/notesDown">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Notes</p>
            </a>
            </li>
            <li > 
              <a href="/notesUpload">
                <i class="tim-icons icon-align-center"></i>
                <p>Upload</p>
              </a>
            </li>
     
          <li class = "active"> 
            <a href="/typography">
              <i class="tim-icons icon-align-center"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="/user">
              <i class="tim-icons icon-single-02"></i>
              <p>Edit Profile</p>
            </a>
          </li>
          <li>
            <li>
              <a href="/test">
                <i class="tim-icons icon-bell-55"></i>
                <p>Test</p>
              </a>
            </li>
            <li>
            <a href="/notifications">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="/teachernotes">
              <i class="tim-icons icon-bell-55"></i>
              <p>Faculty Notes</p>
            </a>
          </li>
          
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">USER PROFILE</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="/assets/img/anime3.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  
                  <li class="nav-link"><a href="/logout" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="grid-1">
            <div class="name"></div>
            <div class="pic">
                <div class="icon"><img src="<%=newStudent.profilePicture%>" height="100" id="p"></div>
                <div class="aboutme">ABOUT ME</div>
                <div class="description"><%=newStudent.AboutMe%></div>
            </div>
            <!--upload section-->
            <div class="upload">
              <div class="d-flex align-items-center u p-3 my-3 text-white bg-purple rounded shadow-sm">
                  <div class="lh-1">
                      <h1 id="head" class="h6 mb-0 text-white lh-1">UPLOADS</h1>
                      <small>These are the documents you</small>
                  </div>
              </div>
              
          
              <div class="my-3 p-3 bg-body rounded shadow-sm">
                  <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
                  <br>
                  <% if (notes) { %>
                    <% for (let note of notes) { %>
                      <div class="note-container">
                        <div class="note-header">
                          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#007bff"></rect>
                            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                          </svg>
                          <strong class="note-title"><%= note.title %></strong>
                        </div>
                        <div class="note-description">
                          <p><%= note.description %></p>
                        </div>
                        <div class="note-link">
                          <a href="<%= note.file_url %>" download="<%= note.title %>"><%= note.course %></a>
                        </div>
                      </div>
                    <% } %>
                  <% } %>
                  
                  <small class="d-block text-end mt-3">
                      <a href="#">All updates</a>
                  </small>
              </div>
          </div>
          
          
          <div class="uid">UID: <%= newStudent.Uid %></div>
          <div class="email"><%= newStudent.Email_address %></div>
          <div class="branch">BRANCH:<%= newStudent.Course %></div>
          <div class="sem">SEM: <%= newStudent.Year %></div>
          <div class="cgpa">CGPA: <%= newStudent.Cgpa %></div>
          <div class="phone">CITY: <%= newStudent.City %></div>

          <!--downloads-->
                      <div class="topic">BOOKMARK</div>
            <div class="download">
              <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                <% if(bookmark) { %>
                  <div class="list-group">
                    <% for(let book of bookmark) { %>
                      <label class="list-group-item d-flex flex-column gap-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" checked>
                          <span class="form-check-label"><%= book.title %></span>
                        </div>
                        <small class="text-body-secondary"><%= book.timeStamp %></small>
                        <div class="link-container">
                          <a href="<%= book.downloadUrl %>" download="<%= book.fileName %>" class="text-decoration-none btn btn-primary">Download <%= book.fileName %></a>
                        </div>
                      </label>
                    <% } %>
                  </div>
                <% } else { %>
                  <div class="alert alert-info" role="alert">
                    No bookmarks found.
                  </div>
                <% } %>
              </div>
            
            </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

          
          
        </div>
      </div>
      
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
        <li class="button-container">
          <a href="https://www.creative-tim.com/product/black-dashboard" target="_blank" class="btn btn-primary btn-block btn-round">Download Now</a>
          <a href="https://demos.creative-tim.com/black-dashboard/docs/1.0/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block btn-round">
            Documentation
          </a>
        </li>
        <li class="header-title">Thank you for 95 shares!</li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-info"><i class="fab fa-twitter"></i> &middot; 45</button>
          <button id="facebook" class="btn btn-round btn-info"><i class="fab fa-facebook-f"></i> &middot; 50</button>
          <br>
          <br>
          <a class="github-button" href="https://github.com/creativetimofficial/black-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
        </li>
      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
</body>

</html>